
<body>
  <div class="img--searchResults"> 
<img src="<%= book.image_url %>" alt="<%= book.title %>">
<p><%= book.title %></p>
<p><%= book.author %></p>
<div class="extraDescription"><p class=extraDescription><%= book.description %></p></div>
<p class="extraInfo"><%= book.isbn %></p>
<p class="extraInfo"><%= book.bookshelf %></p> 
<form action="/edit/<%= book.id%>">
  <button id="button--details">Update Book</button>
</form>
<form action="/books/<%= book.id%>?_method=DELETE" method="post">
  <button id="button--details">Delete Book From Collection</button> 
</form>
</div>
</body>