<img src="<%= book.image_url %>" alt="<%= book.title %>">
<h2><%= book.title %></h2>
<h3><%= book.author %></h3>
<p><%= book.description %></p>
<h3><%= book.isbn %></h3>
<h3><%= book.bookshelf %></h3> 
<form action="/edit/<%= book.id%>">
  <button>Update Book</button>
</form>
<form action="/books/<%= book.id%>?_method=DELETE" method="post">
  <button>Delete Book From Collection</button> 
</form>