
  <img src="<%= book.image_url %>" alt="<%= book.title %>">
  <h2><%= book.title %></h2>
  <h3><%= book.author %></h3>
  <p><%= book.description %></p>
  <h3><%= book.isbn %></h3>
  <h3><%= book.bookshelf %></h3>


  