<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../layouts/head.ejs') %>
  </head>
  <body>
    <header>
    </header>
    <main>
      <% searchResults.forEach( book => { %>
        <form action="/books" method="post">
          <img src="<%= book.finalImage %>" alt="<%= book.title %>">
          <h2><%= book.title %></h2>
          <h3><%= book.author %></h3>
          <h3><%= book.description %></h3>
          <input type="hidden" name="author" value="<%= book.author %>" />
          <input type="hidden" name="title" value="<%= book.title %>" />
          <input type="hidden" name="isbn" value="<%= book.isbn %>" />
          <input type="hidden" name="image_url" value="<%= book.finalImage %>" />
          <input type="hidden" name="description" value="<%= book.description %>" />
          <button>Add to Favorites</button>
        </form>
        <% }) %>
    </main>
    <footer>
    </footer>
  </body>
</html>