<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('./layouts/head.ejs') %>
</head>
<body>
  <header>
    Best Books!
  </header>
  <div id="subhead"> Search Results:</div>
  <div id="outerContainer">
    <p><a href="<%= link %>">searches</a></p>
  <% bookshelfResults.forEach( book => { %>
      <div class="img--searchResults">
        <img class="img--searched" src="<%= book.image_url %>" alt="<%= book.title %>">
       <p><%= book.title %></p>
        <p><%= book.author %></p>
        <form action="books/<%= book.id %>">
          <button id="button--details">Details</button>
        </form>
      </div>

  <% }) %>
  </div>
 <footer>
 </footer>
</body>
</html>