<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('./layouts/head.ejs') %>
</head>
<body>
  <header>
  </header>
  <div id="subhead"></div>
  <div id="outerContainer">
    <p><a href="<%= link %>">searches</a></p>
  <% bookshelfResults.forEach( book => { %>
      <div>
        <img class="img--searched" src="<%= book.image_url %>" alt="<%= book.title %>">
       <h2><%= book.title %></h2>
        <h3><%= book.author %></h3>
      </div>

      <form action="books/<%= book.id %>">
        <button>Details</button>
      </form>
  <% }) %>
  </div>
 </main> 
 <footer>
 </footer>
</body>
</html>